.App {
  margin-top: 20px;
  margin-left: 20px;
  text-align: center;
}

.App-logo {
  cursor: not-allowed;
  height: 47px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.station {
  padding: 20px;
  background-color: grey;
  color: white;
  border-radius: 2rem;
}

.winner {
  font-size: 200px;
  transition: all 1s;
  animation: shake 0.5s ease-in-out infinite;
}


@keyframes scaleIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes shake {
  from {
    font-size: 180px;
  }

  75% {
    font-size: 200px;
  }

  to {
    font-size: 180px;
  }
}

@keyframes shake2 {
  from {
    font-size: 80px;
  }

  75% {
    font-size: 100px;
  }

  to {
    font-size: 80px;
  }
}